body {
  background-image: linear-gradient(to right, #7a5e8a 0%, #261c2c 100%);
  color: #6e85b2;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  font-family: 'Sofia Sans', sans-serif;
}

h1, h2 {
  color: #ffff;
  margin-left: 5%;
}

main {
  margin-bottom: 20px;
}

/* desenho do cartão */
.cartaoDeCredito {
  background-color: #3e2c41;
  color: #6e85b2;
  border: 2px solid #261c2c;
  border-radius: 15px;
  width: 405px;
  height: 220px;
  margin: auto;
  margin-top: 8%;
  box-shadow: 3px 3px 3px 1px rgb(80, 78, 78);
}

/* informações de dentro do cartão */
.container {
  width: 90%;
  display: block;
  padding: 15px;
}
.card-titulo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.titulo-cartao {  /* tentei colocar o first-child e não foi */
  text-transform: uppercase;
  font-size: x-large;
  font-family: monospace;
}
.titulo-banco {
  font-size: large;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.card-img {
  display: flex;
  justify-content: space-between;
}
img {
  width: 8%;
  margin: 0% 5% 5%;
  border-radius: 5px;
}

/* formulário/ áreas de preenchimento */
.card-infos:required{
  color: blue;
}
.card-infos {
  width: 100%;
  margin: auto;
  margin-left: 3px;
  text-align: center;
}
.card-numero {
  width: 94%;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  margin: 5px 10px;
}
.card-nome {
  width: 55%;
  margin: 5px;
  text-align: center;
}
.card-validade {
  width: 25%;
  margin: 5px 5px;
  text-align: center;
  font-size: xx-small;
}
input {
  background-color: transparent;
  color: #E5BA73;  /* decidir qual cor ; */
}
input:focus{
  background-color: #261C2C;
}

/* botão enviar */
#validarCartao {
  margin: auto;
  text-align: center;
  background-color: #261C2C;
}
.naoClica{
  cursor: not-allowed;
}

/* resposta a validação */
#respostaValidacao{
  margin: auto;
  margin-top: 25px;
  color: #FFD56F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: overline underline 5px;
  text-justify:inter-word;
}

.tenteNovamente p{
  text-align: center;
  display: flex;
}
.tenteNovamente a {
  margin: auto;
  text-align: center;
  font-size: small;
  color: #FFD56F;
  text-transform: lowercase;
  text-decoration: none;
  /* justify-content: center; */

}
/* rodapé */
footer{
  margin-top: 7%;
  vertical-align: text-bottom;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: medium;
  color: #f0f0f0;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: #f0f0f0;
}
